.topbar-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.topbar-item{
    display: flex;
    align-items: center;
    color: #575757;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    width: fit-content;
    padding:5px 10px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin: 0px 10px;
    label{
        background-color: #ffffff41;
        border-radius: 10px;
        padding: 8px;
        margin-left: 5px;
    }
}
.topbar-item:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }